@using Wedding.Models
@model WeddingPlan

<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/styles.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/plan">Plan</a></li>
          <li><a href="/clear">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div id='container' class="z-depth-3">
      <div class='form-container'>
        <h5>@Model.PersonOne & @Model.PersonTwo</h5>
        <p>Date: @Model.WeddingDate</p>
          <p>Guests:</p>
          @foreach(Guest g in Model.GuestList)
          {
            <p>@g.User.FirstName @g.User.LastName</p>
          }
        </div>
            <div class='form-container'>
              <p>Map Goes Here</p>
      </div>
      </div>
    </div>
  </body>
</html>